<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="menu-spacer"></span>
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="'/'" style="font-weight:bold"> Parking Lot </a>
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="'/car-brands'" style="font-weight:bold"> Car Brands </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="'/car-types'" style="font-weight:bold"> Car Types </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="'/cars'" style="font-weight:bold"> Cars </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="'/parking-lot'" style="font-weight:bold"> Parking Lot </a>
        </li>
      </ul>
</nav>